# Credenciais para testes E2E
# Copie para .env e preencha com dados reais
ADMIN_EMAIL=admin@elkys.com.br
ADMIN_PASSWORD=suaSenhaAdmin
COMERCIAL_EMAIL=comercial@elkys.com.br
COMERCIAL_PASSWORD=suaSenhaComercial
JURIDICO_EMAIL=juridico@elkys.com.br
JURIDICO_PASSWORD=suaSenhaJuridico
FINANCEIRO_EMAIL=financeiro@elkys.com.br
FINANCEIRO_PASSWORD=suaSenhaFinanceiro
CLIENTE_EMAIL=cliente@exemplo.com
CLIENTE_PASSWORD=suaSenhaCliente
